/* aChat Style
// Créé par Niluge_Kiwi
// v 0.2 2006/08/25 22:55:14
// ======================================================================== //
//
//   www.lmdmf.net
//
// kiwiiii@gmail.com
//
// ======================================================================== //
//
*/

div#achat_messages {
	background-color: transparent;
	text-align: left;
	border-top: 1px solid #DDDDFF;
	border-left: 1px solid #DDDDFF;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	overflow: auto;
	overflow-x: hidden;
	padding-left: 1px;
}

.achat_message {
}

.achat_uname {
	font-weight: bold;
}
.achat_guest_uname {
	font-weight: bold;
	color: #999999
}
.achat_dp{
}

.achat_div_ping{
	font-weight: bold;
	color: #999999
}
.achat_postmessage{
	margin: 10px;
}
#achat_options_box, #pagenavform{
	margin-bottom: 2px;
	margin-top: 2px;
	padding: 2px;
	border: 1px solid #AAAAAA;
}
div#achat_title{
	text-align:center;
}